
public_html.zip
public_html/bd_biblioteca.sql
public_html/buttons_livros.php
public_html/buttons_usuarios.php
public_html/calculadora.js
public_html/calculadora.php
public_html/conexao.php
public_html/criar_conta.php
public_html/css/login.css
public_html/editar.png
public_html/emprestar.png
public_html/excluir.PnG
public_html/index.php
public_html/livro_editar.php
public_html/livro_emprestar.php
public_html/livro_excluir.php
public_html/menu.php
public_html/sobre.php
public_html/upload.php
public_html/upload/0e3add4d0e771959df9c8577e026cfcb.jpg
public_html/upload/11ceccc0be8a1ec87fdbccbbf09fcee8webp
public_html/upload/4005f9dfa4b85559bb2a94dae641dc95.jpg
public_html/upload/403cfa0c6be692873a707c6aba6b8469.jpg
public_html/upload/43c17bddb4c68262186e7ead7638cf22.jpg
public_html/upload/50d77aa34e445c8df93efaaf18253498.jpg
public_html/upload/7cab834441d655b9926a1a30bd201545.jpg
public_html/upload/b57bb605f8939ed4415fe32d026ce8d9.jpg
public_html/upload/c5aaaed7f937eb41b3780f1d3a6bd6f9.jpg
public_html/usuario_editar.php
public_html/usuario_excluir.php
TechMan Lucas Marcelo.rar
TechMan v0.1/comentarios.csv
TechMan v0.1/conexao.php
TechMan v0.1/equipamentos.csv
TechMan v0.1/equipamentos.php
TechMan v0.1/equipamentos2.php
TechMan v0.1/imagens_equipamentos/Intel_Core_i9.png
TechMan v0.1/imagens_equipamentos/Monitor_Dell.png
TechMan v0.1/imagens_equipamentos/Mouse_Razer.png
TechMan v0.1/imagens_equipamentos/Teclado_Microsoft.png
TechMan v0.1/imagens_equipamentos/Torno_Mecanico_500mm.png
TechMan v0.1/js/NovoEquipamento.js
TechMan v0.1/login.php
TechMan v0.1/login_buttons.css
TechMan v0.1/menu.php
TechMan v0.1/menu_login.php
TechMan v0.1/modal.css
TechMan v0.1/NovoEquipamento.php
TechMan v0.1/perfis.csv
TechMan v0.1/techman.png
TechMan v0.1/usuarios.csv
TechMan v0.2/conexao.php
TechMan v0.2/css/buttons.css
TechMan v0.2/css/login_buttons.css
TechMan v0.2/css/menu.css
TechMan v0.2/editar_comentario.php
TechMan v0.2/equipamentos.php
TechMan v0.2/equipamentos2.php
TechMan v0.2/imagens_equipamentos/Intel_Core_i9.png
TechMan v0.2/imagens_equipamentos/Monitor_Dell.png
TechMan v0.2/imagens_equipamentos/Mouse_Razer.png
TechMan v0.2/imagens_equipamentos/Teclado_Microsoft.png
TechMan v0.2/imagens_equipamentos/Torno_Mecanico_500mm.png
TechMan v0.2/imagens_icones/comentario.png
TechMan v0.2/imagens_icones/deletar.png
TechMan v0.2/imagens_icones/logout_sair.png
TechMan v0.2/login copy.php
TechMan v0.2/login.php
TechMan v0.2/menu.php
TechMan v0.2/menu_login.php
TechMan v0.2/NovoEquipamento.php
TechMan v0.2/techman.png
TechMan v0.2/visualizar_comentario.php
TechMan/bd_techman.sql
TechMan/conexao.php
TechMan/css/equipamentos.css
TechMan/css/form.css
TechMan/css/login_buttons.css
TechMan/css/menu.css
TechMan/equipamentos.php
TechMan/excluir_equipamento.php
TechMan/imagens_equipamentos/Intel_Core_i9.png
TechMan/imagens_equipamentos/Monitor_Dell.png
TechMan/imagens_equipamentos/Mouse_Razer.png
TechMan/imagens_equipamentos/Teclado_Microsoft.png
TechMan/imagens_equipamentos/Torno_Mecanico_500mm.png
TechMan/imagens_icones/comentario.png
TechMan/imagens_icones/excluir.png
TechMan/imagens_icones/logout_sair.png
TechMan/login.php
TechMan/logout.php
TechMan/menu.php
TechMan/menu_login.php
TechMan/NovoComentario.php
TechMan/NovoEquipamento.php
TechMan/techman.png
TechMan/visualizar_comentario.php
Trabalho v0.1/1-Biblioteca Online.php
Trabalho v0.1/653887.webp
Trabalho v0.1/A culpa é das estrelas.php
Trabalho v0.1/A culpa é das estrelas.png
Trabalho v0.1/Harry Potter e a Ordem da Fênix.php
Trabalho v0.1/Harry Potter e a Ordem da Fênix.png
Trabalho v0.1/JK. Rowling.php
Trabalho v0.1/John Green.php
Trabalho v0.1/login.php
Trabalho v0.1/Notepad++.lnk
Trabalho v0.1/O andar do bebado.png
Trabalho v0.1/O andar do bêbado.php
Trabalho v0.1/Untitled-1.php
Trabalho v0.2/1-Biblioteca Online.php
Trabalho v0.2/653887.webp
Trabalho v0.2/A culpa é das estrelas.php
Trabalho v0.2/A culpa é das estrelas.png
Trabalho v0.2/buttons.php
Trabalho v0.2/conexao.php
Trabalho v0.2/editar.png
Trabalho v0.2/estrutura basica.html
Trabalho v0.2/excluir.png
Trabalho v0.2/Harry Potter e a Ordem da Fênix.php
Trabalho v0.2/Harry Potter e a Ordem da Fênix.png
Trabalho v0.2/inserir livro.php
Trabalho v0.2/JK. Rowling.php
Trabalho v0.2/John Green.php
Trabalho v0.2/livro_editar.php
Trabalho v0.2/livro_excluir.php
Trabalho v0.2/login.php
Trabalho v0.2/menu.php
Trabalho v0.2/Notepad++.lnk
Trabalho v0.2/O andar do bebado.png
Trabalho v0.2/O andar do bêbado.php
Trabalho v0.2/sobre.php
Trabalho v0.2/Untitled-1.php
Trabalho v0.2/voltar ao menu principal.php
Trabalho v0.2/~/~/.prettierrc
Trabalho v0.3 Lucas Marcelo Mendes dos Santos.zip
Trabalho v0.3/1-Biblioteca Online.php
Trabalho v0.3/bd_biblioteca.sql
Trabalho v0.3/buttons_livros.php
Trabalho v0.3/buttons_usuarios.php
Trabalho v0.3/calculadora.js
Trabalho v0.3/calculadora.php
Trabalho v0.3/conexao.php
Trabalho v0.3/editar.png
Trabalho v0.3/estrutura basica.html
Trabalho v0.3/excluir.PnG
Trabalho v0.3/inserir livro.php
Trabalho v0.3/livro_editar.php
Trabalho v0.3/livro_excluir.php
Trabalho v0.3/login.php
Trabalho v0.3/menu.php
Trabalho v0.3/sobre.php
Trabalho v0.3/upload.php
Trabalho v0.3/upload/537b10a9e04a744f4b277d43781751ac.png
Trabalho v0.3/usuario_editar.php
Trabalho v0.3/usuario_excluir.php
Trabalho v0.3/usuarios cadastrados.php
Trabalho v0.3/voltar ao menu principal.php
Trabalho v0.4/1-Biblioteca Online.php
Trabalho v0.4/bd_biblioteca.sql
Trabalho v0.4/buttons_livros.php
Trabalho v0.4/buttons_usuarios.php
Trabalho v0.4/calculadora.js
Trabalho v0.4/calculadora.php
Trabalho v0.4/conexao.php
Trabalho v0.4/criar_conta.php
Trabalho v0.4/editar.png
Trabalho v0.4/emprestar.png
Trabalho v0.4/estrutura basica.html
Trabalho v0.4/excluir.PnG
Trabalho v0.4/inserir livro.php
Trabalho v0.4/livro_editar.php
Trabalho v0.4/livro_emprestar.php
Trabalho v0.4/livro_excluir.php
Trabalho v0.4/log out.php
Trabalho v0.4/login.php
Trabalho v0.4/menu.php
Trabalho v0.4/sobre.php
Trabalho v0.4/upload.php
Trabalho v0.4/upload/b4f073893be1372dd93b9c87fb064196.jpg
Trabalho v0.4/upload/b57bb605f8939ed4415fe32d026ce8d9.jpg
Trabalho v0.4/usuario_editar.php
Trabalho v0.4/usuario_excluir.php
Trabalho v0.4/usuarios cadastrados.php
Trabalho v0.4/voltar ao menu principal.php
